.workout-container {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 3px 3px 0;
  margin-bottom: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .workout-container__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px 4px;

    .workout-container__title {
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #5a57cb;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 80%;
    }

    .workout-container__menu {

    }
  }
}
